<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/Airbnb-/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/airbnb/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/airbnb"><i class="fa-brands fa-linkedin"></i></a>
        </div>

    
        <div class="f-info-brand">&copy;wonderLust private limited company!</div>
        <div class="f-info-link">
            <a href=https://www.airbnb.com/help/article/2855/privacy-policy>privacy-policy</a>&nbsp;&nbsp;
            <a href=https://www.airbnb.com/help/article/2908/terms-of-service>terms</a>
        </div>
    </div>
</footer>